*{
    margin: 0px;
    padding: 0px;
    font-family: "Arial";
    line-height: 25px;
}

body{
    margin: 120px 0px 0px 0px;
    background-color: #000;
    background-image: url("images/tibg1.png");
    background-repeat: repeat;
    background-size: 1080px;
    background-attachment: fixed;
}

/*the object*/
.menu-bar{
    margin: 0px 0px 0px 0px;
    position: fixed;
    top: 0px;
}

/*The whole deal- bar and all*/
.header-wrapper{
    /*
    position: fixed;
    top: 0px;
    */
    width: 100%;
    border-top: 20px solid #555;
    margin: -120px 0px 0px 0px;
}

/*Just the 'button-box'*/
.header{
    width: 990px;	/*TODO: Fix this non-dynamic mess*/
    margin: 0px auto 0px auto;
}

.nav-item{
    display: table;
    width: 100px;
    height: 50px;

    padding: 0px 10px 10px 10px;
    margin: -10px 0px 0px -10px;
    float: left;
    text-align: center;
    background-color: #555;

}

.nav-item a{
    display: table-cell;
    vertical-align: middle;
    line-height: 25px;
    width: 100%;
    font-size: 15px;
    text-decoration: none;
    color: #2f2;
    cursor: pointer;
}

.nav-item a:hover{
    background-color: #2f2;
    color: #555;
}






.block-wrapper{
    width: 100%;
    margin-bottom: 75px;
}

.block{
    height: 500px;
    width: 800px;
    margin: 0px auto 0px auto;
}

.text-half{
    width: 360px;
    height: 360px;
    background-color: #fff;
    padding: 20px;
    float: left;
}

.img-half{
    width: 360px;
    height: 360px;
    float: left;
    padding: 20px;
    background-color: #555;
}

.block-footer{
    float: left;
    color: #2f2;
    width: 800px;
    background-color: #555;
    padding: 0px;
    text-align: center;
}

.left{
    float: left;
    width: 180px;
    padding: 0px 0px 0px 20px;
    text-align: left;
}

.center{
    float: left;
    width: 400px;
    text-align: center;
}

.right{
    float: left;
    width: 180px;
    padding: 0px 20px 0px 0px;
    text-align: right;
}

.img{
    width: 100%;
    height: 100%;
}

.block-bookmark{
    display: block;
    position: relative;
    top: -110px;
}
