*{
	padding: 0px;
	margin: 0px;
	
}

html{
	height: 100%;
	background-color: #000;
}

body{
	height: 100%;
}

#container{
	width: 100%;
	height: 100%;
	display: flex;
	
	align-items: center;
	justify-content: center;
}

#game{
	width: 800px;
	height: 800px;
	border: 1px solid #fff;
	display: flex;
	flex-direction: column;
}

.gameRow{
	flex-grow: 1;
/*	background-color: #f00;*/
/*	border: 1px solid #fff;*/
	display: flex;
	flex-direction: row;
}

.targetContainer{
	flex-grow: 1;
/*	background-color: #0f0;*/
/*	border: 1px solid #fff;*/
	display: flex;
	
	align-items: center;
	justify-content: center;
}

.target{
	width: 230px;
	height: 230px;
/*	background-color: #fff;*/
	border: 1px solid #fff;
}