*{
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	font-size: 20px;
	/* list-style-image: url("media/ul.png"); */
}

img{
	display: block;
}

html{
	margin: 0px;
	padding: 0px
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #f30;
}

.divHR{
	border: none;
	background-color: #fff;
	height: 2px;
	margin-top: 3px;
	margin-bottom: 50px;
}

#container{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#headerContainer{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;

	display: flex;
	justify-content: center;
}
	#header{
		width: 500px;
		/* border: 1px solid #0f0; */
		border: 3px solid #000;
		border-top: none;
		background-color: #fff;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
		#leftButtonContainer{
			height: 40px;
			width: 40px;
		}
			#backButton{
				height: 100%;
			}
			#backButton:hover{
				background-color: #ddd;
			}
		#headerLogoContainer{
		}
			#headerLogo{
				font-family: "Jura";
				font-size: 50px;
				height: 50px;
				line-height: 50px;
				color: #f30;
				font-weight: bold;
				/* border: 1px solid #f00; */
			}
		#rightButtonContainer{
			width: 40px;
		}

#bodyContainer{
	display: flex;
	justify-content: center;

}
	#body{
		padding-top: 80px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 1000px;
	}
		#introPanel{
			/* border: 1px solid #0f0; */
			background-color: #fff;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
			#title{
				margin: 5px;
				font-family: 'Roboto Mono';
				text-align: center;
				font-weight: bold;
			}
			#intro{
				margin: 5px;
				/* border: 1px solid #00f; */
				font-family: 'Roboto Mono';
				text-align: center;
			}
		#appSlidesContainer{
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
			#leftSlideContainer{
				flex-grow: 1;
				flex-basis: 0;	/* Set to 0, act like it has zero width to start */
				background-color: #ddd;
				font-family: 'Arial';
				font-style: 'italic';
				margin: 30px;
				padding: 30px;
			}
				#leftSlide{
					display: flex;
					align-items: center;
					flex-direction: column;
				}
					#downloadTitle{
						background-color: #f30;
						padding: 10px;
						color: #fff;
						margin-bottom: 10px;
						font-size: 30px;
						font-weight: bold;
					}
					.downloadBadge{
						width: 200px;
						margin-bottom: 10px;
					}
			#appSlides{
				/* border: 1px solid #00f; */
				display: flex;
				justify-content: center;
				align-items: center;
			}
				.appImage{
					height: 300px;
					margin: 30px;
					margin-left: 0px;

				}
			#rightSlideContainer{
				display: none;
				/* border: 1px solid #00f; */
				flex-grow: 1;
				flex-basis: 0;
				padding: 40px;
			}
				#rightSlide{

				}
	#mapPanel{
		background-color: #fff;
		/* border: 1px solid #0f0; */
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
		#mapContainer{
			padding: 10px;
			background-color: #ddd;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
			#searchTitle{
				font-style: italic;
				margin-bottom: 10px;
			}
			#searchControls{
				margin-bottom: 10px;
			}
				#searchBar{
					border: none;
					background-color: #fff;
					border: 1px solid #000;
					width: 100px;
				}
				#searchButton{
					border: none;
					background-color: #f30;
					padding: 5px;
					color: #fff;
				}
				#searchButton:active{
					border: none;
					background-color: #d10;
					padding: 5px;
				}
			#map{
				border: 1px solid #fff;
			}
	#footerText{
		background-color: #fff;
		padding: 10px;
	}
#legalContainer{
	display: flex;
	justify-content: center;
	padding: 20px;
}
	#legal{
		color: #fff;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
		font-size: 15px;
		font-style: italic;
		text-align: center;
		padding: 10px;
	}
