*{
	margin: 0px;
	padding: 0px;
	font-family: "Arial";
	font-size: 20px;
}

img{
	display: block;
}

html{
	margin: 0px;
	padding: 0px;
}

body{
	margin: 0px;
	padding: 0px;
	background-color: #c42700;
}

.divHR{
	border: none;
	background-color: #fff;
	height: 2px;
	margin-top: 3px;
	margin-bottom: 50px;
}

#navEmbed{
	width: 100%;
	height: 54px;
}

#container{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#navContainer{
	position: fixed;
	left: 0px;
	top: -55px;

	width: 100%;

	display: flex;
	justify-content: center;
}

#bodyContainer{
	display: flex;
	justify-content: center;
}
	#body{
		padding-top: 80px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 1000px;
	}
		#introPanel{
			background-color: #fff;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
			#title{
				margin: 5px;
				font-family: 'Roboto Mono';
				text-align: center;
				font-weight: bold;
			}
			#introContentContainer{
				display: flex;
				flex-direction: row;
				margin: 30px;
			}
				.intro{
					font-family: 'Roboto Mono';
					text-align: center;
				}
					.introBold{
						font-size: 30px;
						font-weight: bold;
					}
				#altButton{
					width: 400px;
					background-color: #c42700;
					color: #fff;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
					border: none;
					margin: 10px;
				}
				#altButton:active{
					background-color: #000;
				}
		#appSlidesContainer{
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			flex-direction: row;
		}
			#leftSlideContainer{
				flex-grow: 1;
				flex-basis: 0;
				background-color: #ddd;
				font-family: 'Arial';
				font-style: 'italic';
				margin: 30px;
				padding: 30px;
			}
				#leftSlide{
					display: flex;
					align-items: center;
					flex-direction: column;
				}
					#downloadTitle{
						background-color: #c42700;
						padding: 10px;
						color: #fff;
						margin-bottom: 10px;
						font-size: 30px;
						font-weight: bold;
					}
					.downloadBadge{
						width: 200px;
						margin-bottom: 10px;
						cursor: pointer;
					}
			#appSlides{
				display: flex;
				justify-content: center;
				align-items: center;
			}
				.appImage{
					height: 300px;
					margin: 30px;
					margin-left: 0px;
				}
			#rightSlideContainer{
				display: none;
				flex-grow: 1;
				flex-basis: 0;
				padding: 40px;
			}
				#rightSlide{
				}
	#mapPanel{
		background-color: #fff;
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
		#mapContainer{
			padding: 10px;
			background-color: #ddd;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
			#searchTitle{
				font-style: italic;
				margin-bottom: 10px;
			}
			#searchControls{
				margin-bottom: 10px;
			}
				#searchBar{
					border: none;
					background-color: #fff;
					border: 1px solid #000;
					width: 100px;
				}
				#searchButton{
					border: none;
					background-color: #c42700;
					padding: 5px;
					color: #fff;
					cursor: pointer;
				}
				#searchButton:active{
					background-color: #000;
				}
			#map{
				border: 1px solid #fff;
			}
	#footerText{
		background-color: #fff;
		padding: 10px;
	}
#legalContainer{
	display: flex;
	justify-content: center;
	padding: 20px;
}
	#legal{
		color: #fff;
		border-left: 2px solid #fff;
		border-right: 2px solid #fff;
		font-size: 15px;
		font-style: italic;
		text-align: center;
		padding: 10px;
	}
